extends ../../layout/main
include ../../components/input/input
include ../../components/checkbox-button/checkbox-button
include ../../components/toggle-button/toggle-button
include ../../components/radio-button/radio-button
include ../../components/bullet-list/bullet-list
include ../../components/rich-checkbox/rich-checkbox

block variables
    - var title = 'Form elements';
    - var description = 'Form elements';

block content
    .content-wrapper
        +input({title:'text field', placeholder:'Email'})
        +input({title:'masked text field', placeholder:'ДД.ММ.ГГГГ'})(class="js-date-field")
        button.button.button-big.button-primary click me
        button.button.button-big.button-outline click me
        button.button.button-big.button-text click me
        +checkbox-button('Можно курить')
        +checkbox-button('Можно с питомцами')
        +checkbox-button('Можно пригласить гостей (до 10 человек)')
        +toggle-button('Получать спецпредложения')
        +radio-button('Мужчина', 'sex')
        +radio-button('Женщина', 'sex')
        - var items = ['Нельзя с питомцами', 'Без вечеринок и мероприятий', 'Время прибытия — после 13:00, \nа выезд до 12:00'];
        +bullet-list(items)
        +rich-checkbox('Широкий коридор', 'Ширина коридоров в номере \nне менее 91 см.')
        +rich-checkbox('Помощник для инвалидов', 'На 1 этаже вас встретит специалист \nи проводит до номера.')
block script