extends ../../layout/main
include ../../components/input/input

block variables
    - var title = 'Form elements';
    - var description = 'Form elements';

block content
    .content-wrapper
        +input({title:'text field', placeholder:'Email'})
        button.button-primary click me
        button.button-bordered click me
        button.button-text click me
block script