extends ../../layout/main
include ../../components/input/input
include ../../components/checkbox-button/checkbox-button
include ../../components/toggle-button/toggle-button
include ../../components/radio-button/radio-button

block variables
    - var title = 'Form elements';
    - var description = 'Form elements';

block content
    .content-wrapper
        +input({title:'text field', placeholder:'Email'})
        +input({title:'masked text field', placeholder:'ДД.ММ.ГГГГ'})(class="js-date-field")
        button.button.button-big.button-primary click me
        button.button.button-big.button-outline click me
        button.button.button-big.button-text click me
        +checkbox-button('Можно курить')
        +checkbox-button('Можно с питомцами')
        +checkbox-button('Можно пригласить гостей (до 10 человек)')
        +toggle-button('Получать спецпредложения')
        +radio-button('Мужчина', 'sex')
        +radio-button('Женщина', 'sex')
block script