// Font
$mainFont                : 'Montserrat', Arial, sans-serif;

// Size
$mainFontColor           : #101010;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1280px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;

// Colors
$dark-100                : rgba(31, 32, 65, 1);
$dark-75                 : rgba(31, 32, 65, 0.75);
$dark-50                 : rgba(31, 32, 65, 0.50);
$dark-25                 : rgba(31, 32, 65, 0.25);
$dark-5                  : rgba(31, 32, 65, 0.05);
$primary                 : #BC9CFF;
$secondary               : #6FCF97;
