mixin radio-button(text, name)
    .radio-button
        label.radio-button__container
            input(type="radio", name= name).radio-button__input
            span.radio-button__radio
            span.radio-button__text.body-text= text