include ../../../components/brand/brand

mixin footer-creative()
    footer.footer-creative
        .footer-creative__container
            .footer-creative__copyright-container
                +brand()
                .body-text Copyright © 2018 Toxin отель. Все права зачищены.
            .footer-creative__social-container
                .fab.fa-twitter.icon-gradient
                .fab.fa-facebook-square.icon-gradient
                .fab.fa-instagram.icon-gradient