extends ../../layout/main

block variables
    - var title = 'Headers & Footers';
    - var description = 'Headers & Footers';

block content
    .content-wrapper
        +header()
        +header('Юлий Цезарь')
block script