extends ../../layout/main
include ../../components/navbar/navbar
include ../../components/footer/footer
include ../../components/footer/creative/creative

block variables
    - var title = 'Headers & Footers';
    - var description = 'Headers & Footers';

block content
    .content-wrapper
        +header()
        +header('Юлий Цезарь')
        +footer()
        +footer-creative()
block script