html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  min-height: 100%;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: auto;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
  &__title {
    @extend h2;
    font-weight: bold;
  }
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.title {
  font-weight: bold;
}

.body-text {
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
  &__header {
    font-size: 14px;
    line-height: 17px;
    color: $dark-50;
  }
}

.dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  &::after {
    content: 'expand_more';
    @extend .icon;
  }
}

.icon {
  font-family: Material Icons;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &-gradient {
    @extend .icon;
    background: $gradient;
    background-clip: text;
    color: transparent;

    &:hover {
      opacity: 0.5;
    }
  }
}
