html {
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
}

body {
  font-family: $mainFont;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

h1 {
  font-size: 24px;
  line-height: 29px;
}

h2 {
  font-size: 19px;
  line-height: 23px;
  &__title {
    @extend h2;
    font-weight: bold;
  }
}

h3 {
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.title {
  font-weight: bold;
  &__h1 {
    @extend h1;
  }
  &__h2 {
    @extend h2;
  }
  &__h3 {
    @extend h3;
  }
}

.body-text {
  font-size: 14px;
  line-height: 24px;
  color: $dark-75;
}


