mixin like-button(likes= 0)
    button.like-button.js-like-button(class=className)
        .like-button__like.js-like-button__like.icon= 'favorite_border'
        span.like-button__likes.js-like-button__likes= likes