include ../../components/brand/brand

mixin header(user)
    header.header.js-header
        .header__wrapper
            +brand()
            .header__items
                .body-text
                    b О нас
                .body-text__header.dropdown Услуги
                .body-text__header Вакансии
                .body-text__header Новости
                .body-text__header.dropdown Соглашения
                if(user)
                    .header__separator
                    .body-text__header= user
                else
                    button.button-bordered войти
                    button.button-primary зарегистрироваться
            .header__menu.js-header__menu.icon-gradient.fas.fa-bars