.button {
  @extend .title;
  @extend h3;
  border-radius: 22px;
  padding: 10px 20px;
  font-family: 'Montserrat', Arial, sans-serif;
  border: none;
  transition: 0.3s;
  &:hover {
    opacity: 0.5;
  }
}

.button-icon {
  font-family: 'Material Icons';
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.button-bordered {
  @extend .button;
  display: inline-block;
  background: transparent;
  color: $primary;
  position: relative;
  z-index: 1;
  &::before {
    content: ' ';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: $gradient;
    transition: all 0.3s ease-in-out;
    border-radius: inherit;
    position: absolute;
  }
  &::after {
    content: ' ';
    top: 2px;
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: white;
    z-index: -1;
    transition: all 0.3s ease-in-out;
    border-radius: inherit;
    position: absolute;
  }
  &:hover {
    opacity: 1;
    &:before {
      opacity: 0.5;
    }
  }
}

.button-primary {
  @extend .button;
  color: white;
  background: $gradient;
}
