include ../../components/brand/brand

mixin header(user)
    header.header-ui
        .header-ui__wrapper
            +brand()
            .header-ui__items
                .body-text
                    b О нас
                .body-text__header.dropdown Услуги
                .body-text__header Вакансии
                .body-text__header Новости
                .body-text__header.dropdown Соглашения
                if(user)
                    .header-ui__separator
                    .body-text__header= user
                else
                    button.button-bordered войти
                    button.button-primary зарегистрироваться