mixin advantages-list(items)
    .advantages-list
        ul.advantages-list__ul 
            each item in items
                li.advantages-list__li
                    .advantage__container
                        .advantage__icon.icon.icon-gradient= item.icon
                        .advantage__text-container
                            span.advantage__title.body-text.title= item.title
                            span.advantage__description.body-text= item.description