mixin input({placeholder='', icon, title, pattern})
    .text-field-container
        h3.title= title
        label.text-field
            input.text-field__input.body-text(placeholder= placeholder, pattern= pattern)&attributes(attributes)
            if icon
                button.text-field__icon.icon.icon-gradient= icon