@import '@/assets/scss/abstracts/vars';

.text-field-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.text-field {
  display: flex;
  flex-direction: row;
  border: 1px solid $dark-25;
  border-radius: 4px;
  transition: all 0.3s ease-in-out;
  &:hover,
  &:focus-within {
    border-color: $dark-50;
  }

  &__input {
    display: block;
    border: none;
    padding: 12px 15px;
    font-family: 'Montserrat';
    width: 100%;
    outline: none;

    &::placeholder {
      color: $dark-25;
    }
  }

  &__icon {
    width: 44px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    &:hover {
      opacity: 0.5;
    }
  }
}
