mixin checkbox-button(text)
    .checkbox-button
        label.checkbox-button__container
          input(type="checkbox").checkbox-button__checkbox
          span.checkbox-button__custom-checkbox(tabindex='0')
          span.checkbox-button__text= text