mixin toggle-button(text)
    .toggle-button
        label.toggle-button__container
            input.toggle-button__checkbox(type="checkbox")
            span.toggle-button__toggle(tabindex='0')
            span.toggle-button__text.body-text= text